body {
  max-width: 1200px;
  text-align: center;
  margin: auto;
}

.header {
  background-color: gray;
  font-size: 20px;
  text-align: left;
  color: white;
} 

h1 {
  margin: 0;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: center;

}

.movie {
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 275px;
}

h3, h4 {
  margin: 0;
  padding: 0;
  width: 250px;
}

img {
  width: 250px;
  height: 350px;
  border: 1px solid black;
  padding: 10px;
}

.form {
  width: 1200px;
  text-align: center;
}